@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayRoman.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: neu;
}

html,
body {
    height: 100%;
    width: 100%;
}
main{
    z-index: 10;
    position: relative;
}

/* nav bar section */
.page1 {
    min-height: 100vh;
    width: 100vw;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;

}

nav {
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-part2 {
    display: flex;
    align-items: center;
    gap: 2vw;

}

.nav-part2 h3 {
    color: rgba(17, 16, 16, 0.836);
    border: 1px solid rgba(67, 65, 65, 0.582);
    border-radius: 50px;
    padding: 1vh 1vh;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    transition: all ease 0.3s;
    overflow: hidden;
}

.nav-part2 h3::after {
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    bottom: -100%;
    left: 0;
    border-radius: 50%;
    transition: all ease 0.4s;

}

.nav-part2 h3:hover::after {
    bottom: 0;
    border-radius: 0;
}

.nav-part2 h3 a {
    text-decoration: none;
    color: rgba(17, 16, 16, 0.836);
    position: relative;
    z-index: 9;
}

.nav-part2 h3 a:hover {
    color: white;
}

/* home page*/
.center {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 2vw;
}

.left h3 {
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

.right h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

.page1 video {
    position: relative;
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
}

.hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    /* border-radius: 50%  ;   */
    right: 0;
    top: 65vh;
}

.hero1 {
    background-color: #FE3B0F;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    filter: blur(20px);
}

.hero2 {
    background: linear-gradient(#FE3B0F,rgba(255, 123, 0, 0.733));
    border-radius: 50%;
    height: 30vw;
    width: 30vw;
    position: absolute;
    filter: blur(20px);
    animation-name: anime2;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.hero3 {
    background: linear-gradient(#FE3B0F,rgba(255, 123, 0, 0.733));
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    filter: blur(20px);
    animation-name: anime1;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes anime1 {
    from{
        transform: translate(55%,-3%);
    }
    to{
       transform: translate(0%,10%);
    }
}
@keyframes anime2 {
    from{
        transform: translate(5%,-5%);
    }
    to{
       transform: translate(20%,20%);
    }
}
/*page 2 */
.page2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}
.moving-text{
    white-space: nowrap;
    overflow-x: auto;
}

.moving-text::-webkit-scrollbar{
    display: none;
}
.moving-text h1{
    font-size: 9vw;
    display: inline-block;
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.gola{
    display: inline-block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #FE3B0F;
    margin: 1vw 2vw;
}

@keyframes move{
    from{
        transform:translateX(0) ;
    }
    to{
        transform: translateX(-100%);
    }

}
.page2-bottom{
    width: 100%;
    height: 80vh;
    background-color: #EFEAE3;
    padding: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page2-bottom h1{
 font-size: 4vw;
 width: 50%;
 line-height: 4vw;
 position: relative;
 z-index: 1;
}
.page2-bottom-part2{
    width: 22%;
}
.page2-bottom-part2 img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 15px;
}
.page2-bottom-part2 p{
    font-weight: 100;
    margin-top: 2vw;
}
.page2 .gooey{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    position: absolute;
    background:linear-gradient(to top,#FE3B0F, #fe8e0f);
    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes gooey{
    from{
        filter: blur(20px);
        transform: translate(10%,-10%) skew(0);
    }
    to{
        filter: blur(30px);
        transform: translate(-10%,10%) skew(-12deg);
    }
}
.page3{
    width: 100%;
    min-height: 100vh;
    background-color: #EFEAE3;
    padding: 4vw 0;
}
.elem{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;

}
.elem h2{
    font-size: 3vw;
    position: relative;
}
.elem .overlay{
    width: 100%;
    height: 100%;
    background-color: #fe8e0f;
    top: -100%;
    left: 0;
    position: absolute;
    transition: all ease 0.2s;
}
.elem:hover .overlay{
    top: 0;
}

.fixed-img{
    width: 23vw;
    height: 30vw;
    border-radius: 20px;
    position: fixed;
    z-index: 99;
    top: 25%;
    left: 50%;
    display: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.page4{
    width: 100%;
    height: 60vh;
    background-color: #EFEAE3;
}
.page5{
    width: 100%;
    height: 100vh;

}
footer {
    width: 100%;
    height: 100vh;
    z-index: 9;
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-end; 
}
footer h1{
    font-size: 17vw;
}